<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Fake Dex</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <!-- Creates a Select form, iterates through 'pokemon()' dict -->
    <div class="center">     
        <label for="Pokemons">Choose a Pokemon:</label>
            <select name="poke" id="poke">
                {% for key, value in data_pokemon.items %}
                   {{ value }}
                    <option value={{key}}>{{value}}</option>
                {% endfor %}
            </select>
    </div>
</body>

</html>