<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Fake Dex</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="center">
        <label for="Pokemons">Choose a Pokemon:</label>

            <select name="poke" id="poke">
                <option value="pikachu">Pikachu</option>
                <option value="charmander">Charmander</option>
                <option value="bulbassauro">Bulbassauro</option>
                <option value="squirtle">Squirtle</option>
            </select>
    </div>
</body>
</html>