<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Fake Dex</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <!-- Creates a Select form, iterates through data_pokemon dict -->
    <div class="center">    
        <form action="/pokedex/" method="POST">{% csrf_token %}
        <label for="Pokemons">Choose a Pokemon:</label>
            <select name="poke" id="poke">
                {% for key, value in data_pokemon.items %}
                    {% if key == 'pokemon_name' or key == 'pokemon_description' %}
                        continue
                    {% else %}
                        <option value={{key}}>{{value}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit">Enviar</button>
        </form> 
    </div>
    <div>
        <p>Pokedex Entry</p>
        <p>{{data_pokemon}}</p>
        <br><br><br>
        <p>{{ data_pokemon.pokemon_name }}</p>
        <br><br><br>
        <p>{{ data_pokemon.pokemon_description }}</p>
    </div>
</body>

</html>